
*, abbr, blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hgroup, input, legend, li, ol, p, pre, ul {
    padding: 0;
    margin: 0;
}
html {
    font-size: 16px;
    height: 100%;
}
body {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    height: 100%;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

main {
    background-color: #fff;
}
footer {
    background-color: #222;
    text-align: center;
    font-size: 12px;
    color: #999;
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    height: 300px;
    background-color: #3e885b;
}
.banner h1 {
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    margin: 1rem 0;
    font-size: 2rem;
}
.art-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: auto;
}
.art-grid aside {
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 260px;
    background-color: #fff;
    margin-bottom: 1rem;
}
.collections {
    padding: 1rem;
    grid-column: 2 / -1;
}
.list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,calc(100% - 3*10px/ 4)));
    grid-gap: 4px;
}
ul {
    list-style-type: none;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
}
.logo {
    padding: 1rem 0.5rem;
    cursor: pointer;
    border: 1px dotted #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-family: ui-sans-serif;
    font-size: 32px;
}
nav {
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}

nav .link {
    font-size: 14px;
}
.filters {
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
}
.filter-options {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
}
div.check {
    padding: 0.2rem 0;
}
.inp-label:not(.no-border-label) {
    border-bottom: 1px solid #000;
    padding: 0.2rem;
    margin: 0 0 0.2rem 0;
}
.grid-title {
    grid-column: 1 / -1;
    padding: 1rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 48px;
    background-color: #ee4c7c;
    color: #fff;
    margin: 1rem 0;
}

.load-more {
    text-align: center;
}
.load-more .btn {
    display: inline-block;
    padding: 0.5rem 3rem;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    filter: opacity(0.7);
}

.card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}
.customize-grid {
    margin: 0 0 1rem 0;
}
.sorting{
    display: inline-block;
}
.customize-grid {
    display: flex;
    justify-content: flex-end;
}
.filter-heading {
    padding: 0 1rem ;
}
.filter-wrapper {
    padding: 1rem 0;
}
.description {
    line-height: 1.5rem;
    color: rgb(59, 59, 59);
    font-size: 13px;
    letter-spacing: 0.5px;
}
.dimesnions {
    font-size: 12px;
    line-height: 1rem;
    color: rgb(140 139 139);
    
}
.art-detail {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .title {
    line-height: 1rem;
    color: rgb(56, 56, 56);
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.price {
    font-weight: 100;
    font-size: 12px;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.43px;
    color: rgb(51, 51, 51);
}

.copyrights {
    width: 100%;
    padding: 2rem 0 0 0;
    text-align: right;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer li {
    padding: 0.25rem 0;
}
footer .social-media {
    flex-direction: row;
    width: 25%;
}
 .social-media li {
     padding: 0 0.5rem;
 }
.social-media svg {
    fill: #999
}
footer ul:not(.social-media) li:first-child {
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #999;
}

@media screen and (max-width: 600px) {
    .art-grid {
        grid-template-columns: 1fr;
    }
    .collections {
        grid-column: 1 / -1;
    }
    .list {
        grid-template-columns: repeat(2, minmax(0,calc(100% - 3*10px/ 4)));
    }
    footer ul {
        width: 50%;
    }
    footer .social-media {
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }
   }

   .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
